In [3]:
import module
print(module.new)
help(module.new)
print(module.new.__doc__)

<function new at 0x0000025A99356E80>
Help on function new in module module:

new(a, b)
    hyuhghg World

hyuhghg World

In [3]:
a= ["apple","orange"]
print(a[1][2])



b=[1223455677,123456,2345678,34567]
print(b[1][2])

a

TypeError: 'int' object is not subscriptable

In [5]:
studentnames= ["varuna","kowsalya","bhuvanesh","hari",""]
print(a[1][2])

a

In [6]:
studentnames.append("Kajol")

In [10]:
studentnames.append("kowsalya")
print(studentnames)

['varuna', 'kowsalya', 'bhuvanesh', 'hari', '', 'Kajol', 'kowsalya', 'kowsalya', 'kowsalya']

In [14]:
names2 = ['kavin', 'gaurav', 'raju', 'sundar']

In [15]:
print(studentnames)
studentnames.extend("n")
print(studentnames)

['varuna', 'kowsalya', 'bhuvanesh', 'hari', '', 'Kajol', 'kowsalya', 'kowsalya', 'kowsalya', 'v', 'i', 'j', 'a', 'y']
['varuna', 'kowsalya', 'bhuvanesh', 'hari', '', 'Kajol', 'kowsalya', 'kowsalya', 'kowsalya', 'v', 'i', 'j', 'a', 'y', 'kavin', 'gaurav', 'raju', 'sundar']

In [16]:
studentnames.insert(2,"swetha")
print(studentnames)

['varuna', 'kowsalya', 'swetha', 'bhuvanesh', 'hari', '', 'Kajol', 'kowsalya', 'kowsalya', 'kowsalya', 'v', 'i', 'j', 'a', 'y', 'kavin', 'gaurav', 'raju', 'sundar']

In [18]:
studentnames.remove("Kajol")

In [20]:
print(studentnames)
studentnames.remove("")
print(studentnames)

['varuna', 'kowsalya', 'swetha', 'bhuvanesh', 'hari', '', 'kowsalya', 'kowsalya', 'kowsalya', 'v', 'i', 'j', 'a', 'y', 'kavin', 'gaurav', 'raju', 'sundar']
['varuna', 'kowsalya', 'swetha', 'bhuvanesh', 'hari', 'kowsalya', 'kowsalya', 'kowsalya', 'v', 'i', 'j', 'a', 'y', 'kavin', 'gaurav', 'raju', 'sundar']

In [21]:
studentnames.pop(9)

'i'

In [22]:
studentnames.pop('y')

TypeError: 'str' object cannot be interpreted as an integer

['varuna', 'kowsalya', 'swetha', 'bhuvanesh', 'hari', 'kowsalya', 'kowsalya', 'kowsalya', 'v', 'j', 'a', 'y', 'kavin', 'gaurav', 'raju', 'sundar']

ValueError: 10 is not in list

In [28]:

a = studentnames.index("varuna")
print(a)

0

In [30]:
b = studentnames.count()
print(b)

TypeError: list.count() takes exactly one argument (0 given)

In [37]:
a=studentnames.count("")
print(a)

TypeError: list.count() takes exactly one argument (0 given)

In [38]:
a=studentnames.sort()
print(a)

None

In [39]:
studentnames.sort()
print(studentnames)

['a', 'bhuvanesh', 'gaurav', 'hari', 'j', 'kavin', 'kowsalya', 'kowsalya', 'kowsalya', 'kowsalya', 'raju', 'sundar', 'swetha', 'v', 'varuna', 'y']

In [40]:
studentnames.sort(reverse=tuple)
print(studentnames)

['y', 'varuna', 'v', 'swetha', 'sundar', 'raju', 'kowsalya', 'kowsalya', 'kowsalya', 'kowsalya', 'kavin', 'j', 'hari', 'gaurav', 'bhuvanesh', 'a']

In [41]:
studentnames.reverse()
print(studentnames)

['a', 'bhuvanesh', 'gaurav', 'hari', 'j', 'kavin', 'kowsalya', 'kowsalya', 'kowsalya', 'kowsalya', 'raju', 'sundar', 'swetha', 'v', 'varuna', 'y']

b=studentnames.copy()
print(studentnames)

In [ ]:


studentnames.reverse()
print(studentnames)

In [ ]:
tuple