In [2]:
# pip install pandas

In [3]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\abhishek.k\desktop\python\venv\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd 
df=pd.read_excel('dashboard.xls')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Dashboard Table - Scroll,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.00,0.0,0.00
4,NaN,NaN,1,0.0,NaN,284.0,267.0,0.28,-11.0,348.83
5,NaN,NaN,2,0.0,NaN,170.0,218.0,0.86,-11.0,734.27
6,NaN,NaN,3,0.0,NaN,760.0,9.0,0.95,-30.0,503.34
7,NaN,NaN,4,0.0,NaN,366.0,388.0,0.35,47.0,367.90
8,NaN,NaN,5,0.0,NaN,1345.0,130.0,0.58,74.0,477.47
9,NaN,NaN,6,0.0,NaN,790.0,181.0,0.97,-10.0,678.05
10,NaN,NaN,7,0.0,NaN,1269.0,319.0,0.78,24.0,373.29
11,NaN,NaN,8,0.0,NaN,107.0,16.0,0.59,61.0,532.21
12,NaN,NaN,9,0.0,NaN,501.0,486.0,0.56,67.0,265.00
13,NaN,NaN,10,0.0,NaN,953.0,259.0,0.05,74.0,855.81
14,NaN,NaN,NaN,NaN,▼,NaN,NaN,NaN,NaN,NaN

In [5]:
import pandas as pd
df=pd.read_excel('dashboard.xls',sheet_name='Data')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Data,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,No.,Products,KPI 1,KPI 2,KPI 3,KPI 4,KPI 5
4,NaN,NaN,1,Product Name 1,284,267,0.28,-11,348.83
...,...,...,...,...,...,...,...,...,...
99,NaN,NaN,96,Product Name 96,1102,69,0.16,16,453.03
100,NaN,NaN,97,Product Name 97,638,393,0.65,-24,944.86
101,NaN,NaN,98,Product Name 98,885,343,0.35,58,676.41
102,NaN,NaN,99,Product Name 99,1188,289,0.39,-53,996.63
103,NaN,NaN,100,Product Name 100,1338,183,0.28,-74,343.29

In [6]:
import pandas as pf 
df=pf.read_excel('dashboard.xls',sheet_name='Calculation')
df

             Calculation  Unnamed: 1
0  Actual Start Position           1
1       Maximum Position          91

In [7]:
import pandas as pf 
df =pd.read_excel('dashboard.xls',sheet_name='Calculation')

In [8]:
df

             Calculation  Unnamed: 1
0  Actual Start Position           1
1       Maximum Position          91

In [9]:
df

             Calculation  Unnamed: 1
0  Actual Start Position           1
1       Maximum Position          91

In [10]:
import pandas as pd
df=pd.read_excel('dashboard.xls',sheet_name='Calculation')
df

             Calculation  Unnamed: 1
0  Actual Start Position           1
1       Maximum Position          91

In [11]:
import pandas as pd
pf = pd.read_json('jsonnew.json')
pf

   name  age
0  abhi   10
1  hari   20
2  diva   30

In [12]:
import pandas as pd
data={
    'name':['abhi','hari','diva'],
    'age':['10','20','30'],
    
    }
df=pd.DataFrame(data)
df.to_json('jsonnew.json',orient='records')

In [13]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [14]:
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [15]:
import math 
math.pi

3.141592653589793

In [16]:
import math 
print(math.pow(10,3))
print(math.sumprod([1,3,4],[3,4,5]))
print(math.tan(9))
print(math.sqrt(29))
print(math.remainder(1001,1000))

1000.0
35
-0.45231565944180985
5.385164807134504
1.0

In [17]:
import datetime
dir (datetime)

['MAXYEAR',
 'MINYEAR',
 'UTC',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [18]:
import datetime

In [19]:
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 'UTC',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [20]:
help(datetime.date)

Help on class date in module datetime:

class date(builtins.object)
 |  date(year, month, day) --> date object
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(...)
 |      Formats self with strftime.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __reduce__(...)
 |      __reduce__() -> (cls, state)
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  ctime(...)
 |      Return ctime() style string.
 |
 |  isocalendar(...)
 |      Return a named tuple containing ISO year, week number, and weekday.
 |
 |  isoformat(...)
 |      Return string in ISO 8601 format, YYYY-MM-DD.
 |
 |  isoweekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 1 ... Sunday == 7
 |
 |  replace(...)
 |      Return date with new specified fields.
 |
 |  strftime(...)
 |      format -> strftime() style string.
 |
 |  timetuple(...)
 |      Return time tuple, compatible with time.localtime().
 |
 |  toordinal(...)
 |      Return proleptic Gregorian ordinal.  January 1 of year 1 is day 1.
 |
 |  weekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 0 ... Sunday == 6
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromisocalendar(...) from builtins.type
 |      int, int, int -> Construct a date from the ISO year, week number and weekday.
 |
 |      This is the inverse of the date.isocalendar() function
 |
 |  fromisoformat(...) from builtins.type
 |      str -> Construct a date from a string in ISO 8601 format.
 |
 |  fromordinal(...) from builtins.type
 |      int -> date corresponding to a proleptic Gregorian ordinal.
 |
 |  fromtimestamp(timestamp, /) from builtins.type
 |      Create a date from a POSIX timestamp.
 |
 |      The timestamp is a number, e.g. created via time.time(), that is interpreted
 |      as local time.
 |
 |  today(...) from builtins.type
 |      Current date or datetime:  same as self.__class__.fromtimestamp(time.time()).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  day
 |
 |  month
 |
 |  year
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  max = datetime.date(9999, 12, 31)
 |
 |  min = datetime.date(1, 1, 1)
 |
 |  resolution = datetime.timedelta(days=1)

In [21]:
print(datetime.date.today())

2024-03-22

In [22]:
date_1=datetime.date.today()

In [23]:
date_1

datetime.date(2024, 3, 22)

In [24]:
import time

In [25]:
time = time.ctime()

In [26]:
time

'Fri Mar 22 15:09:41 2024'

In [27]:
datetime.datetime.now()

datetime.datetime(2024, 3, 22, 15, 9, 41, 342939)

In [28]:
datetime.datetime.date()

TypeError: unbound method datetime.date() needs an argument

In [ ]:
import datetime
print(datetime.datetime.now().strftime('%a'))
print(datetime.datetime.now().strftime('%A'))
print(datetime.datetime.now().strftime('%B'))
print(datetime.datetime.now().strftime('%b'))
print(datetime.datetime.now().strftime('%m'))
print(datetime.datetime.now().strftime('%M'))
print(datetime.datetime.now().strftime('%x'))

Fri
Friday
March
Mar
03
22
03/22/24

In [ ]:
a=datetime.datetime(1999,10,19)
a.strftime('%A')

'Tuesday'

In [ ]:
import os
dir('os')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
os.path

In [ ]:
os.getpid()

10816

In [ ]:
dir(os)

['DirEntry',
 'EX_OK',
 'F_OK',
 'GenericAlias',
 'Mapping',
 'MutableMapping',
 'O_APPEND',
 'O_BINARY',
 'O_CREAT',
 'O_EXCL',
 'O_NOINHERIT',
 'O_RANDOM',
 'O_RDONLY',
 'O_RDWR',
 'O_SEQUENTIAL',
 'O_SHORT_LIVED',
 'O_TEMPORARY',
 'O_TEXT',
 'O_TRUNC',
 'O_WRONLY',
 'P_DETACH',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_OVERLAY',
 'P_WAIT',
 'PathLike',
 'R_OK',
 'SEEK_CUR',
 'SEEK_END',
 'SEEK_SET',
 'TMP_MAX',
 'W_OK',
 'X_OK',
 '_AddedDllDirectory',
 '_Environ',
 '__all__',
 '__builtins__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_check_methods',
 '_execvpe',
 '_exists',
 '_exit',
 '_fspath',
 '_get_exports_list',
 '_wrap_close',
 'abc',
 'abort',
 'access',
 'add_dll_directory',
 'altsep',
 'chdir',
 'chmod',
 'close',
 'closerange',
 'cpu_count',
 'curdir',
 'defpath',
 'device_encoding',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fdopen',
 'fsdecode',
 'fsencode',
 'fspath',
 'fstat',
 'fsync',
 'ftruncate',
 'get_blocking',
 'get_exec_path',
 'get_handle_inheritable',
 'get_inheritable',
 'get_terminal_size',
 'getcwd',
 'getcwdb',
 'getenv',
 'getlogin',
 'getpid',
 'getppid',
 'isatty',
 'kill',
 'linesep',
 'link',
 'listdir',
 'listdrives',
 'listmounts',
 'listvolumes',
 'lseek',
 'lstat',
 'makedirs',
 'mkdir',
 'name',
 'open',
 'pardir',
 'path',
 'pathsep',
 'pipe',
 'popen',
 'putenv',
 'read',
 'readlink',
 'remove',
 'removedirs',
 'rename',
 'renames',
 'replace',
 'rmdir',
 'scandir',
 'sep',
 'set_blocking',
 'set_handle_inheritable',
 'set_inheritable',
 'spawnl',
 'spawnle',
 'spawnv',
 'spawnve',
 'st',
 'startfile',
 'stat',
 'stat_result',
 'statvfs_result',
 'strerror',
 'supports_bytes_environ',
 'supports_dir_fd',
 'supports_effective_ids',
 'supports_fd',
 'supports_follow_symlinks',
 'symlink',
 'sys',
 'system',
 'terminal_size',
 'times',
 'times_result',
 'truncate',
 'umask',
 'uname_result',
 'unlink',
 'unsetenv',
 'urandom',
 'utime',
 'waitpid',
 'waitstatus_to_exitcode',
 'walk',
 'write']

In [ ]:
os.mkdir('abhi')

In [ ]:
os.removedirs('abhi')

In [ ]:
os.times()

nt.times_result(user=2.140625, system=1.140625, children_user=0.0, children_system=0.0, elapsed=0.0)

In [ ]:
os.environ

environ{'ALLUSERSPROFILE': 'C:\\ProgramData',
        'APPDATA': 'C:\\Users\\abhishek.k\\AppData\\Roaming',
        'CHROME_CRASHPAD_PIPE_NAME': '\\\\.\\pipe\\crashpad_1292_SQXJPLQPJCNZNKKD',
        'COMMONPROGRAMFILES': 'C:\\Program Files\\Common Files',
        'COMMONPROGRAMFILES(X86)': 'C:\\Program Files (x86)\\Common Files',
        'COMMONPROGRAMW6432': 'C:\\Program Files\\Common Files',
        'COMPUTERNAME': 'NBKBUSOFTLT02',
        'COMSPEC': 'C:\\Windows\\system32\\cmd.exe',
        'DRIVERDATA': 'C:\\Windows\\System32\\Drivers\\DriverData',
        'ELECTRON_RUN_AS_NODE': '1',
        'FPS_BROWSER_APP_PROFILE_STRING': 'Internet Explorer',
        'FPS_BROWSER_USER_PROFILE_STRING': 'Default',
        'HOMEDRIVE': 'C:',
        'HOMEPATH': '\\Users\\abhishek.k',
        'JPY_INTERRUPT_EVENT': '1536',
        'LOCALAPPDATA': 'C:\\Users\\abhishek.k\\AppData\\Local',
        'LOGONSERVER': '\\\\NBKBUSOFTLT02',
        'NUMBER_OF_PROCESSORS': '4',
        'ONEDRIVE': 'C:\\Users\\abhishek.k\\OneDrive',
        'ORIGINAL_XDG_CURRENT_DESKTOP': 'undefined',
        'OS': 'Windows_NT',
        'PATH': 'c:\\Users\\abhishek.k\\Desktop\\python\\venv\\Scripts;C:\\Users\\abhishek.k\\Desktop\\python\\venv\\Scripts;C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\;C:\\Windows\\System32\\OpenSSH\\;C:\\Program Files\\Microsoft VS Code\\bin;C:\\Program Files\\nodejs\\;C:\\Users\\abhishek.k\\AppData\\Roaming\\npm;C:\\Users\\abhishek.k\\AppData\\Local\\Programs\\Python\\Python312\\Scripts\\;C:\\Users\\abhishek.k\\AppData\\Local\\Programs\\Python\\Python312\\;C:\\Users\\abhishek.k\\AppData\\Local\\Programs\\Python\\Launcher\\;C:\\Users\\abhishek.k\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Users\\abhishek.k\\AppData\\Roaming\\npm',
        'PATHEXT': '.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC',
        'PROCESSOR_ARCHITECTURE': 'AMD64',
        'PROCESSOR_IDENTIFIER': 'Intel64 Family 6 Model 94 Stepping 3, GenuineIntel',
        'PROCESSOR_LEVEL': '6',
        'PROCESSOR_REVISION': '5e03',
        'PROGRAMDATA': 'C:\\ProgramData',
        'PROGRAMFILES': 'C:\\Program Files',
        'PROGRAMFILES(X86)': 'C:\\Program Files (x86)',
        'PROGRAMW6432': 'C:\\Program Files',
        'PROMPT': '(venv) $P$G',
        'PSMODULEPATH': 'C:\\Program Files\\WindowsPowerShell\\Modules;C:\\Windows\\system32\\WindowsPowerShell\\v1.0\\Modules',
        'PUBLIC': 'C:\\Users\\Public',
        'PYDEVD_IPYTHON_COMPATIBLE_DEBUGGING': '1',
        'PYTHONIOENCODING': 'utf-8',
        'PYTHONUNBUFFERED': '1',
        'SESSIONNAME': 'Console',
        'SYSTEMDRIVE': 'C:',
        'SYSTEMROOT': 'C:\\Windows',
        'TEMP': 'C:\\Users\\abhishek.k\\AppData\\Local\\Temp',
        'TMP': 'C:\\Users\\abhishek.k\\AppData\\Local\\Temp',
        'USERDOMAIN': 'NBKBUSOFTLT02',
        'USERDOMAIN_ROAMINGPROFILE': 'NBKBUSOFTLT02',
        'USERNAME': 'abhishek.k',
        'USERPROFILE': 'C:\\Users\\abhishek.k',
        'VIRTUAL_ENV': 'C:\\Users\\abhishek.k\\Desktop\\python\\venv',
        'VIRTUAL_ENV_PROMPT': '(venv) ',
        'VSCODE_AMD_ENTRYPOINT': 'vs/workbench/api/node/extensionHostProcess',
        'VSCODE_CODE_CACHE_PATH': 'C:\\Users\\abhishek.k\\AppData\\Roaming\\Code\\CachedData\\019f4d1419fbc8219a181fab7892ebccf7ee29a2',
        'VSCODE_CRASH_REPORTER_PROCESS_TYPE': 'extensionHost',
        'VSCODE_CWD': 'C:\\Program Files\\Microsoft VS Code',
        'VSCODE_HANDLES_UNCAUGHT_ERRORS': 'true',
        'VSCODE_IPC_HOOK': '\\\\.\\pipe\\3492bfec-1.87.0-main-sock',
        'VSCODE_NLS_CONFIG': '{"locale":"en-us","osLocale":"en-us","availableLanguages":{},"_languagePackSupport":true}',
        'VSCODE_PID': '1292',
        'WINDIR': 'C:\\Windows',
        'ZES_ENABLE_SYSMAN': '1',
        '_OLD_VIRTUAL_PATH': 'C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\;C:\\Windows\\System32\\OpenSSH\\;C:\\Program Files\\Microsoft VS Code\\bin;C:\\Program Files\\nodejs\\;C:\\Users\\abhishek.k\\AppData\\Roaming\\npm;C:\\Users\\abhishek.k\\AppData\\Local\\Programs\\Python\\Python312\\Scripts\\;C:\\Users\\abhishek.k\\AppData\\Local\\Programs\\Python\\Python312\\;C:\\Users\\abhishek.k\\AppData\\Local\\Programs\\Python\\Launcher\\;C:\\Users\\abhishek.k\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Users\\abhishek.k\\AppData\\Roaming\\npm',
        '_OLD_VIRTUAL_PROMPT': '$P$G',
        'PYDEVD_USE_FRAME_EVAL': 'NO',
        'TERM': 'xterm-color',
        'CLICOLOR': '1',
        'FORCE_COLOR': '1',
        'CLICOLOR_FORCE': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://matplotlib_inline.backend_inline'}

In [ ]:
os.error

OSError

In [ ]:
os.getpid()

10816

In [ ]:
pip list

Package           Version
----------------- -----------
asttokens         2.4.1
colorama          0.4.6
comm              0.2.2
debugpy           1.8.1
decorator         5.1.1
executing         2.0.1
ipykernel         6.29.3
ipython           8.22.2
jedi              0.19.1
jupyter_client    8.6.1
jupyter_core      5.7.2
matplotlib-inline 0.1.6
nest-asyncio      1.6.0
numpy             1.26.4
packaging         24.0
pandas            2.2.1
parso             0.8.3
pip               23.2.1
platformdirs      4.2.0
prompt-toolkit    3.0.43
psutil            5.9.8
pure-eval         0.2.2
Pygments          2.17.2
python-dateutil   2.9.0.post0
pytz              2024.1
pywin32           306
pyzmq             25.1.2
six               1.16.0
stack-data        0.6.3
tornado           6.4
traitlets         5.14.2
tzdata            2024.1
wcwidth           0.2.13
xlrd              2.0.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pip

In [ ]:
dir(pip)

['List',
 'Optional',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'main']

In [ ]:
import sys

In [ ]:
sys.version

'3.12.0 (tags/v3.12.0:0fb18b0, Oct  2 2023, 13:03:39) [MSC v.1935 64 bit (AMD64)]'

In [ ]:
sys.platform

'win32'

In [ ]:
sys.path

['c:\\Users\\abhishek.k\\Desktop\\python\\Day_5',
 'C:\\Users\\abhishek.k\\AppData\\Local\\Programs\\Python\\Python312\\python312.zip',
 'C:\\Users\\abhishek.k\\AppData\\Local\\Programs\\Python\\Python312\\DLLs',
 'C:\\Users\\abhishek.k\\AppData\\Local\\Programs\\Python\\Python312\\Lib',
 'C:\\Users\\abhishek.k\\AppData\\Local\\Programs\\Python\\Python312',
 'c:\\Users\\abhishek.k\\Desktop\\python\\venv',
 '',
 'c:\\Users\\abhishek.k\\Desktop\\python\\venv\\Lib\\site-packages',
 'c:\\Users\\abhishek.k\\Desktop\\python\\venv\\Lib\\site-packages\\win32',
 'c:\\Users\\abhishek.k\\Desktop\\python\\venv\\Lib\\site-packages\\win32\\lib',
 'c:\\Users\\abhishek.k\\Desktop\\python\\venv\\Lib\\site-packages\\Pythonwin']

In [ ]:
dir(time)

NameError: name 'time' is not defined

In [ ]:
import time

In [ ]:
dir(time)

['_STRUCT_TM_ITEMS',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'altzone',
 'asctime',
 'ctime',
 'daylight',
 'get_clock_info',
 'gmtime',
 'localtime',
 'mktime',
 'monotonic',
 'monotonic_ns',
 'perf_counter',
 'perf_counter_ns',
 'process_time',
 'process_time_ns',
 'sleep',
 'strftime',
 'strptime',
 'struct_time',
 'thread_time',
 'thread_time_ns',
 'time',
 'time_ns',
 'timezone',
 'tzname']

In [ ]:
import time
time.time()

1711099726.0870733

In [ ]:
import time
time.ctime()

'Fri Mar 22 14:59:35 2024'

In [ ]:
help(time.time)

Help on built-in function time in module time:

time(...)
    time() -> floating point number

    Return the current time in seconds since the Epoch.
    Fractions of a second may be present if the system clock provides them.

In [ ]:

time.sleep(5)

In [ ]:
dir(time)

['_STRUCT_TM_ITEMS',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'altzone',
 'asctime',
 'ctime',
 'daylight',
 'get_clock_info',
 'gmtime',
 'localtime',
 'mktime',
 'monotonic',
 'monotonic_ns',
 'perf_counter',
 'perf_counter_ns',
 'process_time',
 'process_time_ns',
 'sleep',
 'strftime',
 'strptime',
 'struct_time',
 'thread_time',
 'thread_time_ns',
 'time',
 'time_ns',
 'timezone',
 'tzname']

In [ ]:
time.altzone

-23400

In [29]:
import time
print("a")
time.sleep(6)
print('k')
time.sleep(3)
print('b')

a
k
b

In [33]:
import random
random.random()

0.14738621793552187

In [46]:
random.choice('abhi')

'a'

In [1]:
a=['kowsu','priya','bhuvanesh','joe','hari','swetha','bhuvaneshwari','ragavi','vijay1','vijay2','nandhini','sisini']
b=random.choice(a)
print(b)

NameError: name 'random' is not defined